@import url(https://fonts.google.com/specimen/Poppins?query=poppins);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: url(https://images.hdqwalls.com/wallpapers/tesla-cybertruck-4k2019-17.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}

.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.btn {
  position: relative;
  background: red;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header.sticky .logo {
  color: #111;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

header.sticky ul li a {
  color: #111;
}

/* .about {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
} */

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}

.heading h2 {
  font-weight: 600;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: space-around;
}

.contentBx {
  padding-right: 30px;
}

.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.w50 {
  min-width: 50%;
  text-align: justify;
  font-weight: 500;
  letter-spacing: 0.7px;
  font-size: 18px;
}

/* .about .content img {
  margin-left: 350px;
} */

img {
  max-width: 100%;
}

.services {
  background: black;
}

.heading.white {
  color: #fff;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .servicesBx {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.services .content .servicesBx:hover {
  background: #2196f3;
}

.services .content .servicesBx img {
  max-width: 80px;
  /* filter: invert(1); */
  margin-bottom: 6px;
}

.services .content .servicesBx h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 9px;
}

.services .content .servicesBx h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.services .content .servicesBx h4 {
  font-size: 13px;
  margin-bottom: 10px;
}

.services .content .servicesBx p {
  margin-top: 20px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.testimonial {
  background: #f7f7f7;
}

.testimonial .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial .content .testimonialBx {
  max-width: calc(50% - 40px);
  padding: 60px 40px;
  margin: 20px;
  background: #2196f3;
}

.testimonial .content .testimonialBx a {
  text-decoration: none;
}

.testimonial .content .testimonialBx p {
  color: #fff;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}

.testimonial .content .testimonialBx h3 {
  margin-top: 40px;
  text-align: end;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1em;
}

.testimonial .content .testimonialBx h3 span {
  font-size: 14px;
  font-weight: 400;
}

.hobbies {
  background-image: url(https://wallpaperset.com/w/full/1/5/b/29815.jpg);
  /* background: cover; */
  background-size: cover;
  background-position: right;
}

.hobbies .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.hobbies .content .hobbieBx {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 00.5s;
}

.hobbies .content .hobbieBx h2 {
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.hobbies .content .hobbieBx h3 {
  text-align: left;
  line-height: 40px;
  margin-left: 5px;
}

.hobbies .content .hobbieBx:hover {
  background: #2196f3;
}

.hobbies .content .hobbieBx .hbox {
  display: flex;
  width: 400px;
}

.hobbies .content .hobbieBx .hbox i {
  padding-right: 10px;
  padding-top: 2px;
}

.hobbies .content .hobbieBx .hbox span {
  padding-left: 25px;
  padding-top: 10px;
}

.hobbies .content .hobbieBx .hbox .skills {
  padding-left: 2px;
}

.hobbies .content .hobbieBx .hbox .hob {
  padding-left: 2px;
}

.hobbies .content .hobbieBx .hbox .lang {
  padding-left: 2px;
}

.hobbies .content .hobbieBx .hbox span i {
  padding-left: 7px;
}

.contact {
  background: #111;
}

.contactInfo h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contactInfo {
  min-width: 40%;
}

.contactInfoBx {
  position: relative;
}

.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #2196f3;
  margin-bottom: 0;
}

.contactInfoBx .box .text a {
  color: #fff;
  text-decoration: none;
}

.logos {
  min-width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.logos .instagram {
  padding: 40px 20px;
  background: #2196f3;
  color: #fff;
  max-width: 90px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  max-height: 120px;
  cursor: pointer;
}

.logos .facebook {
  padding: 40px 20px;
  background: #2196f3;
  color: #fff;
  max-width: 90px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  padding-right: 29px;
  padding-left: 29px;
  max-height: 120px;
  cursor: pointer;
}

.logos .twitter {
  padding: 40px 20px;
  background: #2196f3;
  color: #fff;
  max-width: 90px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  max-height: 115px;
  cursor: pointer;
}

/* Responsiveness */

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }

  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 00.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .menu.active {
    left: 0;
  }

  header ul li a {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }

  .toggle {
    width: 40px;
    height: 40px;
    background: url(menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }

  .toggle.active {
    background: url(close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }

  header.sticky .toggle {
    filter: invert(1);
  }

  section {
    padding: 100px 50px;
  }

  .banner {
    padding: 150px 50px 100px;
    /* background: url(https://tractionlife.com/wp-content/uploads/2020/06/tesla-cybertruck-redesign-Khyzyl-Saleem-front-look-700x438.jpg);
    background-size: cover;
    background-position: right;
    min-height: 100vh; */
  }

  .banner h2 {
    font-size: 1.5em;
  }

  .banner h3 {
    font-size: 1em;
  }

  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .heading h2 {
    font-size: 24px;
  }

  .contentBx h3 {
    font-size: 20px;
  }

  .content {
    flex-direction: column;
  }

  .w50 {
    margin-bottom: 20px;
  }

  .services .content .servicesBx {
    margin: 10px;
  }

  .testimonial .content .testimonialBx {
    max-width: calc(100% - 20px);
    padding: 40px 20px;
    margin: 10px;
    background: #2196f3;
  }

  .testimonial .content .testimonialBx h3 {
    margin-top: 20px;
  }

  .hobbies .content .hobbieBx {
    margin: 10px;
  }

  .contactInfo {
    margin: 20px 0;
  }
}

@media (max-width: 600px) {
  header,
  header.sticky {
    padding: 20px 20px;
  }

  .banner {
    padding: 150px 20px 100px;
  }

  section {
    padding: 100px 20px;
  }
}
